sphinx_rtd_theme
myst-parser
nbsphinx
sphinx-design
sphinxcontrib-bibtex
pandas<=2.1.4
numpy<=1.26.4
scipy
typing-extensions
alive_progress
matplotlib
matplotlib-label-lines
statsmodels
scikit-learn
elementMass>= 1.1.0